.DatePickerContainer {
  background: #ffffff;
  border: 1px solid #cfd0e8;
  box-sizing: border-box;
  border-radius: 19px;
  padding: 16px 21px;
  margin-bottom: 15px;
}
.DatePickerHeadline {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  user-select: none;

  /* identical to box height, or 171% */
  text-align: center;
  margin: 6px 33.5;
  /* C */
  color: #191c2c;
}

.DateDivider {
  border-bottom: 1px solid #c8c9e4;
  width: 100%;
}
.DisplayNumber {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 6px 33.5px;
  user-select: none;
  align-items: center;
  justify-content: center;
  cursor: grab;
}
.HandleNumber {
  flex-direction: column;
  height: 220px;
  overflow: auto;
  cursor: pointer;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.HandleNumber::-webkit-scrollbar {
  display: none;
}

.DatePickerContainer-2{
  background: #FFFFFF;
border: 4px solid #EAEFFF;
box-sizing: border-box;
border-radius: 17px;
}
.DateNumber-2{
  width : 100px;
  height: 80px;
  align-items:center;
  justify-content: center;

  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
text-align: center;

color: #000000;

 cursor: pointer;
 user-select:none;


}


.DateNumberSelected-2{
  width : 100px;
  height: 80px;
  align-items:center;
  justify-content: center;

  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
text-align: center;

color: #fff;

 cursor: pointer;
 user-select:none;
background: #A782E9;

}

@media (max-width: 600px) {
  .DateNumber-2{
    width : 80px;
    height: 50px;
  font-size: 20px;
  line-height: 25px;
  }
  
  
  .DateNumberSelected-2{
    width : 80px;
    height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  
  
  }
}