.LeftContainer {
  width: 420px;
  height: 400px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.LeftElement {
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  width: 186px;
  height: 67px;
  background: linear-gradient(101.9deg, #86E9C5 27.36%, #EBEE3F 93.24%);
  box-sizing: border-box;
  border-radius: 18px;

  cursor: grab;
}
.LeftElementText {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 600;
  color: #191c2c;
  font-family: Inter;
}
.LeftElementDisabled {
  cursor: not-allowed;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  opacity: 0.4;
  color: #191c2c;
  font-family: Inter;
}
.LeftElementDisabled {
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  width: 186px;
  height: 67px;
  background: #ffffff;
  border: 2px dashed rgba(25, 28, 44, 0.7);
  box-sizing: border-box;
  border-radius: 18px;
}

.RightContainer {
  width: 545px;
  height: 450px;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 32px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

.RightElement {
  align-items: center;
  justify-content: center;
  margin: 0px 0px 9px 21px;
  width: 100%;
  height: 100%;
  user-select: none;

  background: linear-gradient(204.5deg, #BE6CFD 15.65%, #7367FF 129.17%);
  box-sizing: border-box;
  border-radius: 50px 32px 32px 50px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  font-family: Inter;
}
.RightElementDisabled {
  border-radius: 18px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 9px 21px;

  background: linear-gradient(204.5deg, #BE6CFD 15.65%, #7367FF 129.17%);
  box-sizing: border-box;
  border-radius: 50px 32px 32px 50px;

  user-select: none;
}

.NumberText {
  font-family: Inter;

  color: #ffffff;
}
.RightBoxSingle{
  align-items:center;
      justify-content:center;
      margin-right:20px;
}
.DNDContainer{
  align-items:center;
  justify-content:center;
  margin-bottom:24px;
  flex-direction:row;
}

@media (max-width: 1000px) {
  .DNDContainer{
    flex-direction:column;
  }
  .RightBoxSingle{
    position: relative;
    right: 80px;
  }
  .LeftContainer {
    width: 300px;
    margin-right: 0;
    margin-bottom: 50px;

  }
  .LeftElementDisabled {
    width: 120px;
  }
  .LeftElement {
    width: 120px;
  }
  
.RightContainer {
  width: 300px;
}

.RightElement {
  width: 300px;
}
.RightElementDisabled {
  width: 300px;
}
.LeftElementText {
  font-size: 16px;
  line-height: 20px;
}
.LeftElementDisabled {
  font-size: 16px;
  line-height: 20px;
}
}