.FinalMainScreen {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#Section-1 {
  background-image: url('../../../assets/finalScreenBackground.svg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 100vh;
  width: 100%;
  padding: 40px 105px 20px 105px;
  align-items: center;
  flex-direction: column;
  
}

.Final-TopHeadingSection {
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.Final-TopHeadingText-bold {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #191c2c;
}
.Final-TopHeadingText {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #191c2c;
}
.Final-SectionHeading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 16px;
  color: #000000;
}
.Final-SectionSubheading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #191c2c;
}
.Final-CrownIcons {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 113px;
  position: relative;
  bottom: 10px;
  left: 8px;
  border-radius: 50%;
}
.Final-CrownIconsNumber {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 26px;
  color: #fff;
  margin-bottom: 3px;
}
.Final-CrownIconsText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8vw;
  line-height: 26px;
  color: #fff;
}
.Final-SectionSideMainHeading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #5d23e9;
}

.Final-SectionSideMainText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  max-width: 641px;
  right: 137px;
  top: 409px;
  color: #191c2c;
}
.Final-SectionSideSubHeading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 64px;
  color: #5d23e9;
}
.Final-SectionSideSubText {
  font-family: Inter, sans-serif;
  font-style: normal;
  max-width: 641px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #191c2c;
}

#Section-2 {
  background-color: #f3f1ff;
  min-height: 100vh;
  width: 100%;
  padding: 100px 105px 0 105px;
  align-items: center;
  flex-direction: column;
}

.Final-Section2MainHeading {
  color: #5d23e9;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
}
.Final-Section2SubHeading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #191c2c;
}
.Final-Section2SubText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #191c2c;
  opacity: 0.8;
}
.Final-Section2BottomText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #191c2c;
}
.Final-ScreenDivider {
  border-bottom: 2px solid rgba(0, 0, 0, 0.14);
  height: 1px;
  width: 100%;
  margin-left: 16px;
  max-width: 650px;
}

.Final-LegendText{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #191C2C;
}
.Final-ChartLegend1{
  background: linear-gradient(97.18deg, #FA94FC -40.71%, #8692FE 82.8%);
  box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.Final-ChartLegend2{
  background: #FFFFFF;
  margin-right: 15px;
  box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

#Section-3 {
  background: #f6e2ff;
  min-height: 100vh;
  width: 100%;
  padding: 100px 105px 0 105px;
  align-items: center;
  flex-direction: column;
}
#Section-4 {
  background: #d5d4fd;
  min-height: 100vh;
  width: 100%;
  padding: 100px 105px 0 105px;
  align-items: center;
  flex-direction: column;
}
.Final-Section1ImageContainer {
  margin-right: 75px;
}
.Final-DonutChart {
  width: 316px;
  margin-right: 100px;
  margin-top:100px;
  position:relative;
  bottom : 140px;
}
.Final-SectionRight {
  flex-direction: column;
  max-width: 426px;
}

.Final-ScreenFooter {
  padding: 84px 151px 50px 151px;
  width: 100%;
  background: linear-gradient(204.5deg, #7B1AC6 15.65%, #3224D9 129.17%);
}
.Final-FooterHeading {
  background: linear-gradient(to right, #fa94fc, #86bdfe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 16px;
}
.Final-FooterSubHeading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  color: #ffffff;
  max-width: 456px;
}
.Final-FooterDivider {
  width: 100%;
  opacity: 0.1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 25px 0 0 0;
  max-width: 500px;
}
.Final-FooterNumberCircle {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  color: #ffffff;
}
.Final-FooterNumberCircle-Selected {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  background: #FFFFFF;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 20px;
  color: #6610F2;
}



.Final-OptionText {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.Final-OptionText-Selected {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}
.Final-OptionContainer {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 22px 48px 22px 16px;
  max-width: 500px;
  min-width: 300px;
  user-select: none;
}
.Final-OptionContainer-Selected{
  background : linear-gradient(90deg, rgba(187, 171, 254, 0.17) 0%, rgba(167, 178, 254, 0) 100%);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 22px 48px 22px 16px;
  max-width: 500px;
  min-width: 300px;
  user-select: none;
}


.Final-OptionDivider {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  max-width: 500px;
}

.Final-VerticalDivider {
  opacity: 0.3;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.Final-FooterLeftContainer {
  border-right: 1px solid rgba(255, 255, 255, 0.09);
  padding-right: 33px;
}

.Final-ActionSteps{
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
 margin-bottom: 8px;
opacity: 0.5;
}
.Final-FooterSelectedHeading{
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 48px;

color: #FFFFFF;
}
.Final-FooterTextContainer{
  margin-bottom : 32px;
  align-items: flex-start;
}
.Final-SmallDot{
  width  :10px;
  height : 6px;
  border-radius: 50%;
  background: #17BEBB;
  margin-right : 16px;
  margin-top : 14px;
}
.Final-FooterText{
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
color: #FFFFFF;
}
.Final-FooterRightContainer{
  padding-left : 100px;
  flex : 1;
  flex-direction: column;
}

.Final-LinksFooter{
  padding : 27px;
  align-items: center;
  justify-content: center;
  
  background: linear-gradient(204.5deg, #7B1AC6 15.65%, #3224D9 129.17%);

  width: 100%;
}
.Final-Link{
  font-family: Inter, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin-right:100px;
}

.Final-MiddleTextContainer{
  width:426px;
}

@media (max-width: 1280px) {
  .Final-DonutChart {
    margin-bottom: 10px;
    margin-right : 20px;
  }
  .Final-MiddleTextContainer{
    width:386px;
  }
  #Section-1 {
    padding: 50px 50px;
  }
  #Section-2 {
    padding: 50px 50px;
  }
  #Section-4 {
    padding: 50px 50px;
  }
  #Section-3 {
    padding: 50px 50px;
  }
  .Final-FooterLeftContainer{
    border : 0px;
  }
  .Final-FooterRightContainer{
    margin-top: 30px;
  }
  .Final-CrownIconsText {
    font-size: 8px;
    line-height: 18.75px;
  }
}
@media(max-width : 1050px){
  .Final-MiddleTextContainer{
    width:326px;
    margin-bottom: 20px;
  }
  .Final-ScreenFooter {
    padding: 50px 50px;
    width: 100%;
    flex-direction: column;
  }
  
  .Final-Section1MiddleContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Final-Section1ImageContainer {
    margin-right: 0;
  }
  
  .Final-SectionMiddleTextBoxContainer {
    flex-direction: column;
    align-items: center;
  }
  .Final-FooterRightContainer{
    padding-left : 0;
  }
}
@media (max-width: 800px) {
  .Final-Section2MainHeading{
    font-size: 30px;
    line-height: 45px;
  }
  .Final-LinksFooter{
    flex-direction: column;
  }
  .Final-Link{
  font-size: 14px;
  line-height: 16px;
  margin-bottom : 20px;
  margin-right: 0;
  }
  .Final-ScreenFooter {
    padding: 50px 20px;
    width: 100%;
    flex-direction: column;
  }
  
  #Section-1 {
    padding: 50px 20px;
  }
  #Section-2 {
    padding: 50px 20px;
  }
  #Section-4 {
    padding: 50px 20px;
  }
  #Section-3 {
    padding: 50px 20px;
  }
 
  .Final-CrownIconsText {
    font-size: 8px;
    line-height: 18.75px;
  }
  .Final-TopHeadingText-bold{
    text-align: left;
    margin-top: 10px;
  }
  .Final-TopHeadingSection{
    flex-direction: column;
    align-items: flex-start;
  }
  .Final-Section2BottomText{
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 479px) {
  
  .Final-CrownIcons {
    width: 80px;
    height: 80px;
  }
  .Final-CrownIconsNumber {
    font-size: 28.5px;
    line-height: 19.5px;
  }
  .Final-CrownIconsText {
    font-size: 9px;
    line-height: 18.75px;
  }
  #Section-1 {
    padding: 50px 10px;
  }
  #Section-2 {
    padding: 50px 10px;
  }
  #Section-4 {
    padding: 50px 10px;
  }
  #Section-3 {
    padding: 50px 10px;
  }
}
